// 共通変数
:root {
  --c-main: #f5d560;
  --c-breadcrumb: #d9d9d9;
  --c-point: #23657f;
  --c-back: #fdfdfd;
  --c-sub: #f0eeee;
  --c-line: #c4c4c4;
  --c-border: #c8c8c8;
  --c-section: #4c6bbd;
  --c-title: #000000;
  --c-input: #000000;
  --c-button: #0f0101;
  --c-button-after: #b9b5b5;
  --c-text-after: #000000;

  --f-family: Hiragino Sans CNS;
}
