@import '@variable';

.container {
  width: 100%;
}

.title {
  margin-top: 40px;
  font-size: 24px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category {
  font-size: 14px;
  padding: 8px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;

  @include mq(md) {
    font-size: 12px;
  }
}
