@import '@variable';

.container {
  width: 100%;
}

.title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: 0.1em;

  @include mq(md) {
    font-size: 1.1rem;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category {
  cursor: pointer;
  margin-right: 16px;
  padding: 4px 12px;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: var(--c-point);
  border: 2px solid var(--c-point);
  border-radius: 8px;
  margin-bottom: 8px;
  transition: background 0.5s;

  &:hover {
    color: #fff;
    background: var(--c-point);
    transition: background 1s;
  }

  @include mq(lg) {
    font-size: 1rem;
    border: 2px solid var(--c-point);
    border-radius: 8px;
    padding: 10px 16px;
  }

  @include mq(md) {
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding: 0px 8px;
  }
}
