@import '@variable';

.article {
  padding: 10px;

  @include mq(xl) {
    width: 100%;
  }

  @include mq(md) {
    width: 100%;
  }
}

.aside {
  width: 300px;
  @include mq(xl) {
    width: 100%;
  }
}
