@import '@variable';

.container {
  // z-index: 10;
}

.main {
  height: 40px;
  padding: 12px 0;
  background: var(--c-breadcrumb);
}

.top {
  display: flex;
  font-size: 14px;
  letter-spacing: 0.2rem;
  margin: 0 auto;
  width: 80%;

  @include mq(md) {
    font-size: 12px;
  }
}

.bread__list {
  display: flex;
  list-style: none;
}

.bread__item {
  margin-right: 5px;

  &::after {
    content: '＞';
    padding-left: 5px;
  }
}

.bread__home {
  margin-right: 10px;
}
